body {
    font-family: sans-serif;
    padding: 20px;
}

#board {
    margin-top: 20px;
}

div {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 5px;
    width: 300px;
}

button {
    margin-left: 10px;
    cursor: pointer;
}

h1 {
    color: blue;
}